<main class="main-wrapper">
    <section class="header-wrapper container col-md-5 col-md-offset-4">
        <header class="header text-primary-color">
            <h1>Typescript Task List</h1>
        </header>
    </section>
    <section class="main-content container col-md-5 col-md-offset-4">
        <form action="">
            <ul class="table item-list">
                <li class="row light-primary-color"> 
                    <div class="col new-item-list">
                        <input class="new-entry seamless" name="message" autofocus="autofocus" autocomplete="off" placeholder="Enter a new note">
                    </div>
                    
                    <div class="col new-entry-btn-wrap">
                        <button class="plus-button" type="submit">
                            <figure class="img-wrapper">
                                    <div class="header-icon fa fa-plus-circle">
                                    </div>    
                            </figure>
                        </button>
                    </div>
                </li>    
            </ul>
                <ul class="table item-list entry-list"></ul>
        </form>
    </section>
</main>