<li class="row light-primary-color {{#if status}}checked{{/if}}" 
    item-id="{{id}}" 
    item-status="{{status}}"> 
    <div class="col action">
        <button class="fa fa-check-square-o fa-lg check-item action-item" 
                type="button"></button>
    </div>        
    <div class="col">
        <span class="item-message">{{message}}</span>
    </div>
    <div class="col action">
        <button class="fa fa-pencil fa-lg edit-item action-item" 
                type="button"></button>
    </div>
    <div class="col action">
        <button class="fa fa-times fa-lg delete-item action-item" 
                type="button"></button>
    </div>      
</li>